<% if flash[:notice] %> 
  <p id="notice"></p>
<%= flash[:notice] %> </div> <% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<div class="ui container">

<%= link_to new_discipline_path, class: 'ui btn teal button' do %>
  <h1><i class="plus icon"></i> Criar Disciplina</h1>
<% end %>

<table class="ui celled table striped">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Curso</th>
      <th colspan="4">Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @disciplines.each do |discipline| %>
    <tr id="disciplines_<%=discipline.id%>">
      <td><%= discipline.name %></td>
      <td><%= discipline.course %></td>
      <td><%= link_to 'Show', discipline, class: 'ui green button'%></td>
      <td><%= link_to 'Edit', edit_discipline_path(discipline), class: 'ui yellow button' %></td>
      <td><%= link_to 'Destroy', discipline, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'ui red button' %></td>
      <td><%= link_to 'Gerar Plano de Ensino', new_discipline_teaching_plan_path(discipline), class: 'ui teal button' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>