<%= form_for([@discipline, @teaching_plan], html:{class: "ui form segment"}) do |f| %>
<div>
  <h2 class="ui dividing header">Cadastro de Plano de Ensino para a disciplina de: <%= @discipline.name %></h2> 
  <div class="actions ui right floated"> 
    <%= f.submit "Criar Plano de Ensino", class: 'ui right floated primary button' %>
  </div>
</div>

<% if @teaching_plan.errors.any? %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header"> 
      <%= pluralize(@teaching_plan.errors.count, " - Existe erro", " - Existem Erros") %> no seu formulário:
    </div>
    <ul>
      <% @teaching_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Mennu de Tabs -->
<div class="ui top attached tabular menu tabs">
  <a class="item active" data-tab="first">Dados Principais</a>
  <a class="item" data-tab="second">Programação das Aulas</a>
  <a class="item" data-tab="third">Procedimento de Ensino</a>
</div>

<div class="ui bottom attached tab segment  active" data-tab="first">
    <div class="fields">
  <div class="twelve wide field">
    <label>Professor Responsavel</label>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <label>Turma</label>
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <label>Ano/Semestre</label>
    <%= f.text_field :semester %>
  </div>
</div>

<div class="field">
  <label>Procedimentos de Avaliação</label>
  <%= f.text_area :evaluation %>
</div>
<div class="field">
  <label>Referências</label>
  <%= f.text_field :references %>
</div>
<div class="field">
  <label>Orientações Gerais</label>
  <%= f.text_field :guidelines%>
</div>

</div>
<div class="ui bottom attached tab segment" data-tab="second">  
  <h2 class="ui dividing header">Programação e Conteúdos das Aulas</h2>
  <h3> Numero total de aulas: <%= @totalAulas %></h3>
  <br>
  <% if @response %>
  <% @response.each do |response| %>
    <div class="fields">
      <div class="two wide field">
        <label>Dia da aula</label>
        <input type="text" name="programmings[<%=response%>]" value="<%= response[0]%>" disabled />
      </div>

      <div class="fourteen wide field">
        <label>Conteúdo da Aula</label>
        <input type="text" name="programmings[content]" value=""/>
      </div>

      <div class="one wide field">
        <label>Aulas</label>
        <input type="text" name="programmings[<%=response%>]" value="<%= response[1] %>" disabled/>
      </div>
    </div>
  <%end%>
  <% end %>
</div>

<div class="ui bottom attached tab segment" data-tab="third">
  <h2 class="ui dividing header">Procedimentos de Ensino</h2>
  <%= f.fields_for :teaching_procedures do |builder| %>
    <%= render "teaching_procedure_fields", f: builder %>
  <% end %>
</div>

<% end %>

</div>