<%= form_for([@discipline, @teaching_plan], html:{class: "ui form segment"}) do |f| %>

  <ul>
  <li><%= @discipline.name %></li>
  <% @discipline.program_contents.each  do |item|%>
  <li><%= item.content %></li>
  <%end%>

  </ul>
  <% if @teaching_plan.errors.any? %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header"> 
        <%= pluralize(@teaching_plan.errors.count, " - Existe erro", " - Existem Erros") %> no seu formulário:
      </div>
      <ul>
        <% @teaching_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <div class="twelve wide field">
      <label>Professor Responsavel</label>
      <%= f.text_field :teacher %>
    </div>
    <div class="field">
      <label>Turma</label>
      <%= f.text_field :team %>
    </div>
    <div class="field">
      <label>Semestre</label>
      <%= f.text_field :semester %>
    </div>
  </div>
  
  <div class="field">
    <label>Procedimentos de Avaliação</label>
    <%= f.text_area :evaluation %>
  </div>
  <div class="field">
    <label>Referências</label>
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <label>Orientações Gerais</label>
    <%= f.text_field :guidelines%>
  </div>

  <!-- Inserindo tabela programação -->
  <h2 class="ui dividing header">Programação e Conteúdos das Aulas</h2>
    <%= f.fields_for :programmings do |builder| %>
      <%= render "programming_fields", f: builder %>
    <% end %>
    <p><%= link_to_add_fields "Adicionar conteúdo de Aula", f, :programmings %></p>

  <!-- Inserindo tabela cprocedimentos de ensino -->
  <h2 class="ui dividing header">Procedimentos de Ensino</h2>
    <%= f.fields_for :teaching_procedures do |builder2| %>
      <%= render "teaching_procedure_fields", f: builder2 %>
    <% end %>
    <p><%= link_to_add_fields "Adicionar procedimento de Ensino", f, :teaching_procedures %></p>
    
  <div class="actions">
    <%= f.submit class: "ui primary button" %>
  </div>
<% end %>



