<% if flash[:notice] %> 
  <p id="notice"></p>
<%= flash[:notice] %> </div> <% end %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<div class="ui container">

<table class="ui celled table striped">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Professor Responsável</th>
      <th>Semestre</th>
      <th colspan="4">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_plans.each do |teaching_plan| %>
      <tr id="teaching_plans_<%=teaching_plan.id%>">
        <td><%= teaching_plan.discipline_id %></td>
        <td><%= teaching_plan.teacher %></td>
        <td><%= teaching_plan.semester %></td>
        <td><%= link_to 'Show', teaching_plan, class: 'ui green button'%></td>
        <td><%= link_to 'Edit', edit_teaching_plan_path(teaching_plan), class: 'ui yellow button' %></td>
        <td><%= link_to 'Destroy', teaching_plan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>
        </tr>
    <% end %>
  </tbody>
</table>

</div>