<!DOCTYPE html>

<html>
<head>
  <title>Project Final</title>
  <%= favicon_link_tag 'index.ico' %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

</head>

<body>
  <div class="ui teal three item inverted menu">
      <%= link_to('Home', root_path, class: 'item') %>
      <%= link_to('Disciplinas', new_discipline_path, class: 'item') %>
      <%= link_to('Plano de Ensino', new_teaching_plan_path, class: 'item') %>
  </div>
	
  <%= yield %>
  <h1 class="rodape">v1.0</h1>
</body>

</html>
